
#Title h1{
  font-size: 40px;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  padding-top: 15px;
}

#Title{
  margin-top: -27px;
  padding-top: 0px;
  background-color: black;
  height: 100px;
}

#purpleLetters{
  color: #fc03f8;
}
#whiteLetters{
  color: white;
}
.body{
  background-image: url("../public/another\ 3.jpg");
  background-size: cover;
  height: 1400px;
  margin-top:-27px;
}

#resultsContainer{
  background-color: #050205;
  opacity: .85;
  position: absolute;
  top:70%;
  height: 800px;
  width: 725px;
  margin-left: 50px;
  border-radius: 2%;
}
#resultsContainer h2{
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-size: 30px;
}
#playlistContainer{
  background-color: #050205;
  opacity: .85;
  position: absolute;
  top:70%;
  height: 800px;
  width: 600px;
  margin-left: 825px;
  border-radius: 2%;
}

#playlistContainer h2{
  color: white;
  font-family:  'Comfortaa', sans-serif;
  font-size: 30px;
}